#!/usr/bin/env bash

git_main_branch() {
  local branch
  for branch in main trunk; do
    if command git show-ref -q --verify refs/heads/$branch; then
      echo $branch
      return
    fi
  done
  echo master
}

gclone() {
  git clone "$1" && cd "$(basename "$1" .git)"
}

localsync () {
  if [ $# -lt 2 ]; then
    echo "Needs at least two arguments"
    return 1
  fi

  rsync -ar \
    --exclude='node_modules' \
    --exclude='.gitignore' \
    --exclude='.git' \
    --exclude='.DS_Store' \
    "$1" "$2"
}

