gui:
  screenMode: half
  showBottomLine: true
  theme:
    activeBorderColor:
      - '#89b4fa'
      - bold
    inactiveBorderColor:
      - '#a6adc8'
    optionsTextColor:
      - '#89b4fa'
    selectedLineBgColor:
      - '#313244'
    cherryPickedCommitBgColor:
      - '#45475a'
    cherryPickedCommitFgColor:
      - '#89b4fa'
    unstagedChangesColor:
      - '#f38ba8'
    defaultFgColor:
      - '#cdd6f4'
    searchingActiveBorderColor:
      - '#f9e2af'
  customCommands:
    - key: "R"
      description: "View Reflog"
      command: "git reflog"
      panel: "popup"   # opens in a popup, not full screen

    - key: "C"
      description: "View Commits"
      command: "git log --oneline --graph --decorate"
      panel: "popup"   # opens commits in a popup too
# git:
#   pagers:
#     - pager: delta --dark --paging=never
git:
  pagers:
    - pager: diff-so-fancy

