export PATH="$HOME/bin:$PATH";
export PATH="$HOME/.opencode/bin:$PATH"
export TERM="xterm-256color"

# Load homebrew
[ -d "/opt/homebrew/bin" ] && eval "$(/opt/homebrew/bin/brew shellenv)" # for m1 mac
[ -d "/usr/local/homebrew/bin" ] && eval "$(/usr/local/homebrew/bin/brew shellenv)" # for intel mac

# brew setup
export PATH="$HOMEBREW_PREFIX/bin:$PATH";
export HOMEBREW_CASK_OPTS="--appdir=~/Applications"

# local bins
export PATH="$HOME/.bin:$PATH";

# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy'; export NODE_ENV='development'

# Make Python use UTF-8 encoding for output to stdin, stdout, and 
# stderr.
export PYTHONIOENCODING='UTF-8';

# Prefer US English and use UTF-8.
# export LANG='en_US.UTF-8'; export LC_ALL='en_US.UTF-8';
# export LC_ALL="POSIX"

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Causes "raw" control characters to be displayed
export LESS=-Xr

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING=1;

export ANSIBLE_SSH_ARGS="-o RemoteCommand=none"

export DOCKER_HOST=unix:///var/run/docker.sock

command -v fnm > /dev/null && export NODE_14=$(realpath "$(fnm exec --using 14 which node)/..")
command -v fnm > /dev/null && export NODE_20=$(realpath "$(fnm exec --using 20 which node)/..")
